body{
    /*background: #17a1cc;*/
    /*https://imagecolorpicker.com/pt-pt/*/
    background-image: url('https://pbs.twimg.com/media/EYLgkLqXkAE1kEa?format=jpg&name=4096x4096');
    background-size: auto 145vh;
    font-family: Arial;
  }
  
  .menu{
    background-color: #48484d;
  }
  
  .menu ul{
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-around;
  }
  .menu li{
    list-style: none;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: whitesmoke;
    text-align: center;
  }
  
  .site-title{
  }
  
  .site-subtitle{
    font-style: italic;
  }
  
  