/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /*background: #17a1cc;*/
  /*https://imagecolorpicker.com/pt-pt/*/
  /*background-image: url('../img/fundo.jpg');*/
  background-color: #1e1e1e;
  background-size: auto 100vh;
  /*Consolas, 'Courier New', monospace*/
  font-family: Monospace;
  font-size: 12px;
}

/*Se minha tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px){
  body{
    font-size: 14px;
  }
}

/*Breakpoints*/
@media (min-width: 600px){
  body{
    font-size: 18px;
  }
}

@media (min-width: 900px){
  body{
    font-size: 20px;
  }
}

header{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  background-color: #464545;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul{
  display: flex;
  /*justify-content: space-between;*/
  justify-content: space-around;
}
.menu li{
  list-style: none;
}

.menu a{
  display: block;
  padding: 10px 20px;
}

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.site-subtitle,
.site-title, .site-portfolio{
  color: whitesmoke;
  text-align: center;
}

.site-subtitle{
  font-style: italic;
}

.img-portfolio{
  height: 180px;
  width: 180px;
}

figcaption{
  color: whitesmoke;
}